.menuItem {
	width: 180px;
	display: block;
	padding: 5px 0;
	margin: 5px auto;
	line-height: 36px;
	text-align: center;
	cursor: pointer;
	border: none;
	outline: none;
	color: #ededed;
	font-size: 14px;
}
.menuItem {
	cursor: pointer;
	border-radius: 4px;
}
.menuItem:hover {
	background: #ededed;
}