.wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
}
.menu {
	width: 300px;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.boardWrapper {
	flex: 1;
	height: inherit;
	background: #71ccd1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header {
	.userFaceContent {
		text-align: center;
		padding: 20px;
	}
	.userFace {
		height: 80px;
		width: 80px;
		margin: 0 auto;
		display: inline-block;
		border-radius: 100%;
		overflow: hidden;
	}
	.userFace > img {
		width: 100%;
	}
}

.menuItem {
	width: 180px;
	display: block;
	padding: 5px 0;
	margin: 5px auto;
	line-height: 36px;
	text-align: center;
	cursor: pointer;
	border: none;
	outline: none;
	color: #ededed;
	font-size: 14px;
}
.menuItem {
	cursor: pointer;
	border-radius: 4px;
}
.menuItem:hover {
	background: #ededed;
}

.board {
	width: auto;
	height: auto;
	display: inline-block;
	border: 1px solid #ddd;
	box-sizing: content-box;
	line-height: 0;
	user-select: none;
	> span {
		display: inline-block;
		background: #ddd;
		border: 1px solid #eee;
		box-sizing: border-box;
		vertical-align: middle;
		text-align: center;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 90% 90%;
		font-weight: bold;
		color: red;
	}
	.default {
		width: auto;
		height: auto;
		background: ivory;
		border: 1px solid #eee;
		box-sizing: border-box;
		display: inline-block;
		text-align: center;
	}

	.open {
		background-color: #fff;
	}
	.query {
		background-image: url(./images/query.png);
	}
	.flag {
		background-image: url(./images/flag.png);
	}
	.bombMine {
		background-image: url(./images/mine-bomb.png);
	}
	.aLiveMine {
		background-image: url(./images/mine-default.png);
	}
	.deleteMine {
		background-image: url(./images/delete.png), url(./images/mine-default.png);
	}
	.deleteNothing {
		background-image: url(./images/delete.png);
	}
}
